<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - S. V. Clinic</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/rzv1mkfimf1h2840uhl4facl36k3k8o25zdaoymnzad5l80y/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<body>
    <header class="hide-on-scroll">
        <div class="theme-bg text-center py-3">
            <div class="container-fluid d-flex justify-content-center align-items-center" style="max-height: 100px">
                <img src="~/images/logo_new.svg" class="col-1" style="height: auto; max-height: 100px; min-width: 50px" />
                <div class="col">
                    <h1 class="col text-center display-1 display-md-3 display-sm-4 display-xs-5" style="font-weight: 500">S. V. Clinic</h1>
                    <p style="margin-top: -8px"> A NABH entry-level certified hospital located in Palladam, Tirupur</p>
                </div>
                <img src="~/images/nabh-accredited-logo.svg" class="col-1" style="height:auto; max-height: 100px; min-width: 50px" />
            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg theme-secondary-bg sticky-top">
        <div class="container-fluid justify-self-center" style="padding-right:0px;">
            
            <button class="navbar-toggler dropdown-menu-end navbar-light" style="outline: none !important;" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: black;"></span>
            </button>
            <a asp-page="Index" class="navbar-brand d-lg-none nav-link nav-item link-dark text-bold">
                S. V. Clinic
            </a>
            <div class="navbar-collapse collapse justify-content-between" style="padding-top:0.5rem;">
                <ul class="navbar-nav flex-grow-1 justify-content-center gap-2">
                    <li class="nav-item">
                        <a class="nav-link navbar-colored" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown-list">
                            <a class="nav-link dropdown-toggler navbar-colored" asp-page="/Departments/Departments">Departments <i class="fa fa-caret-down"></i></a>
                            <div class="dropdown-content">
                                <a class="dropdown-item" asp-area="" asp-page="/Departments/Medicine">Department of Medicine</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Departments/EmergencyMedicine">Department of Emergency Medicine</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Departments/PediatricER">Pediatric E-Room</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Departments/Pediatrics">Department of Pediatrics</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Departments/DevPediatrics">Department of Developmental Pediatrics</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Departments/Physiotherapy">Department of Physiotherapy</a>                                
                                <a class="dropdown-item" asp-area="" asp-page="/Departments/Nephrology">Nephrology Clinic</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Departments/Dermatology">Dermatology Clinic</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-colored" asp-area="" asp-page="/Lab">Laboratory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-colored" asp-area="" asp-page="/Doctors">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-colored" asp-area="" asp-page="/VisitingConsultants">Visiting Consultants</a>
                    </li>@* 
                    <li class="nav-item">
                        <a class="nav-link navbar-colored" asp-area="" asp-page="/Privacy">Facilities</a>
                    </li> *@
                    <li class="nav-item">
                        <a class="nav-link navbar-colored" asp-area="" asp-page="/Blog/HealthEducationIndex">Health Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-colored" asp-area="" asp-page="/Gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-colored" asp-area="" asp-page="/JoinUs">Join us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-colored" asp-area="" asp-page="/AboutUs">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-colored" asp-area="" asp-page="/ContactPage">Contact us</a>
                    </li>@* 
                    <li class="nav-item">
                        <a class="nav-link navbar-colored" asp-area="" asp-page="/Privacy">Events</a>
                    </li> *@@* 
                    <li class="nav-item">
                        <a class="nav-link navbar-colored" asp-area="" asp-page="/Privacy">Book an appointment</a>
                    </li> *@
                </ul>
            </div>
        </div>
    </nav>

    <div id="content-below-shy-navbar">
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)

    <div class="border-top text-muted mt-5 footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Contact Us</h2>
                    <div>
                        <p>
                            <b>Phone: </b> <span class="br"></span>
                            Adult reception: <br />
                            Pediatric reception:
                        </p>
                    </div>
                    <p>Email: svclinicpalladam@gmail.com</p>
                </div>
                <div class="col">
                    <h2>Location</h2>
                    <div id="map" class="z-depth-1-half">
                        <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.6003381378923!2d77.27808557584763!3d10.99350925515043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba9abe4bef6f8b3%3A0x3c3014c8190b9a75!2sS.V.Clinic!5e0!3m2!1sen!2sin!4v1717124342676!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                &copy; 2024 - S. V. Clinic - <a href="/Privacy">Privacy</a>
            </div>
        </div>
    </div>

</body>

<script src="~/js/layout.js"></script>
</html>
