:root {
    --main-theme: rgb(41, 248, 225);
    --backgorund: rgb(215, 250, 246);
    --background-link: rgb(167, 251, 242);
    --active-button: rgb(64, 160, 149);
    --active-button-shadow: rgb(47, 117, 109);
    --dropdown-background: rgba(104, 255, 238, 0.5);
}

.title {
    background-color: var(--backgorund);
    margin-left: calc((100vw - 100%) / -2) !important;
    padding-left: calc((100vw - 100%) / 2);
    margin-right: calc((100vw - 100%) / -2) !important;
    padding-right: calc((100vw - 100%) / 2);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.page-link {
    background-color: var(--background-link) !important;
    transition: 0.25s;
    outline: none !important;
    font-size: 2rem;
    border: none !important;
    text-decoration: underline !important;
}

    .page-link:hover {
        background-color: var(--active-button) !important;
        box-shadow: 0px 5px 10px var(--active-button-shadow);
        transition: 0.25s;
        outline: none !important;
        font-size: 2rem;
    }

    .page-link:active {
        background-color: var(--active-button) !important;
        box-shadow: 0px 0px 10px var(--active-button-shadow);
        transition: 0.25s;
        outline: none !important;
        font-size: 2rem;
    }