@page
@model SVC.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
    Layout = "Shared/_Layout.cshtml";
}


<head>
    <link rel="stylesheet" type="text/css" href="css/departmentpages.css" />
</head>

<main role="main">
    <div class="container">
        <h1 class="text-center title">About Us</h1>

        <p class="text-start col">
            <b>S V Clinic</b>, a secondary care medical facility situated in Palladam, was founded in 2013. Since then, we have been steadily expanding our services to provide quality healthcare at an affordable cost to our patients. <span class="br"></span>

            At S V Clinic, we believe in science as the foundation of medicine and practice evidence-based medicine. Taking into consideration the socio-economic conditions of our patients, we provide evidence-based, affordable, and acceptable solutions to their health conditions. Emergency care is our priority, ensuring immediate and effective responses to urgent health needs.
        </p>
        
        <h2 class="title">Our Vision:</h2>
        <p class="service-description service-title">
            Promoting People's Health With Evidence-Based Modern Medicine At Affordable Cost.
        </p>

        <h2 class="title">Our Mission:</h2>
        <ul class="list-group-flush" style="margin-left:5rem;">
            <li>
                <p class="service-description service-title">
                    Early Diagnosis and Comprehensive Management of Chronic and Lifestyle-Related Diseases.
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Zero Delay Management and Safe Transfer of Acute Emergencies.
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Intensive Care and In-Patient Care for Medical Illnesses.
                </p>
            </li>
        </ul>
        
        <h2 class="title">Future Plans:</h2>
        <ul class="list-group-flush" style="margin-left:5rem;">
            <li>
                <p class="service-description service-title">
                    Affordable Hemodialysis Unit
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Comprehensive Child Development Centre
                </p>
            </li>
        </ul>
    </div>
</main>