@page
@model SVC.Pages.ContactPageModel
@{
	ViewData["Title"] = "Contact Us";
	Layout = "Shared/_Layout.cshtml";
}

<main role="main" class="container">
	<h1 class="text-center title">Don't Contact Us</h1>

	
</main>
