@page
@model SVC.Pages.ContactPageModel
@{
	ViewData["Title"] = "Contact Us";
	Layout = "Shared/_Layout.cshtml";
}

<main role="main" class="container">
	<h1 class="text-center title">Contact Us</h1>

    
    <h2>Non-Clinical Services</h2>
    <table class="table table-striped table-bordered ">
        <thead>
            <tr>
                <th>Sn</th>
                <th>Department</th>
                <th>Contact Person</th>
                <th>Contact Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Main Reception</td>
                <td>Miss. Priyadarshini</td>
                <td>9361837766</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Paediatric Reception</td>
                <td>Miss. Swetha</td>
                <td>9965799654</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Insurance Desk</td>
                <td>Mrs. Kowsalya</td>
                <td>9500426145</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Main Pharmacy</td>
                <td>Mrs. Ramalakshmi</td>
                <td>04255255211</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Jan Aushadhi Pharmacy</td>
                <td>Mrs. Sivapriya</td>
                <td>9677429788</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Laboratory</td>
                <td>Mr. Sarathkannan</td>
                <td>8870734141</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Hospital Admin</td>
                <td>Mrs. Menaka Ashok</td>
                <td>9790575785</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Ambulance</td>
                <td>Mr. Ganesh</td>
                <td>9788817882</td>
            </tr>
        </tbody>
    </table>

    <h2>Clinical Services</h2>
    <table class="table table-striped table-bordered ">
        <thead>
            <tr>
                <th>Speciality</th>
                <th>Doctor</th>
                <th>Day</th>
                <th>Time</th>
                <th>For appointment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>General Medicine, Diabetology, Echo</td>
                <td>Dr. K. Balamurali MD</td>
                <td>Monday to Saturday</td>
                <td>9 AM to 1 PM, 7 PM to 9 PM</td>
                <td>9361837766</td>
            </tr>
            <tr>
                <td>General Paediatrics, Growth and nutrition, Vaccination</td>
                <td>Dr. T G Nalini DCH</td>
                <td>Monday to Saturday</td>
                <td>9 AM to 1.30 PM, 5.30 PM to 7 PM</td>
                <td>9965799654</td>
            </tr>
            <tr>
                <td>ENT</td>
                <td>Dr. Kandhasamy Kaminthan MS ENT</td>
                <td>Tuesday, and Thursday</td>
                <td>8.00 PM to 9 PM</td>
                <td>9361837766</td>
            </tr>
            <tr>
                <td>Dermatology, Cosmetology and venereology</td>
                <td>Dr. M N Bharathi DDVL</td>
                <td>Every month Third Sunday</td>
                <td>9 AM to 12 PM</td>
                <td>9361837766</td>
            </tr>
            <tr>
                <td>Orthopedics</td>
                <td>Dr. Sudharshan MS Ortho</td>
                <td>Every Wednesday</td>
                <td>5.30 PM to 7 PM</td>
                <td>9361837766</td>
            </tr>
            <tr>
                <td>General and paediatric surgery</td>
                <td>Dr. Jeyaprakash MS Mch</td>
                <td colspan="2">Consultation on appointment</td>
                <td>9361837766</td>
            </tr>
            <tr>
                <td>Nephrology</td>
                <td>Dr. Gopikrishnan MDDM Nephro</td>
                <td>Every Monday</td>
                <td>5.30 PM to 6 PM</td>
                <td>9361837766</td>
            </tr>
            <tr>
                <td>Developmental Paediatrics</td>
                <td>Dr. S Pushparani MD Pead, FDBP (IAP)</td>
                <td>Every month 2nd Wednesday</td>
                <td>10 AM to 1 PM</td>
                <td>9965799654</td>
            </tr>
            <tr>
                <td>Infectious Diseases</td>
                <td>Dr. Naveen A S, MD Gen Med, FNB Infectious diseases</td>
                <td colspan="2">Consultation on appointment</td>
                <td>9361837766</td>
            </tr>
            <tr>
                <td>Physiotherapy</td>
                <td>Miss Pradheepa BPT</td>
                <td>Monday to Saturday</td>
                <td>9 AM to 5 PM</td>
                <td>9361837766</td>
            </tr>
            <tr>
                <td>Speech Therapy</td>
                <td>Mr. Ram Karthik MASLP</td>
                <td>Every Wednesday</td>
                <td>3 PM to 5 PM</td>
                <td>9965799654</td>
            </tr>
            <tr>
                <td>Occupational Therapy</td>
                <td>Mr. Gokul Raja MOT (Neuro science)</td>
                <td>All Sundays</td>
                <td>10 AM to 1 PM</td>
                <td>9965799654</td>
            </tr>
            <tr>
                <td>Medical Nutritional Counselling</td>
                <td>Miss Sandhiya MSc Nutritional science</td>
                <td>Monday to Saturday</td>
                <td>9 AM to 9 PM</td>
                <td>9361837766</td>
            </tr>
            <tr>
                <td>Diabetic Educator</td>
                <td>Miss Vaishaly</td>
                <td>Monday to Saturday</td>
                <td>9 AM to 9 PM</td>
                <td>9361837766</td>
            </tr>
            <tr>
                <td>Paediatric clinical Psychologist</td>
                <td>Mrs. Kasthuri Thilagam GNM, BSc Psychology</td>
                <td>Monday to Saturday</td>
                <td>5 PM to 9 PM</td>
                <td>9965799654</td>
            </tr>
        </tbody>
    </table>

	
</main>
