@page
@model SVC.Pages.DoctorsModel
@{
    ViewData["Title"] = "Doctors";
    Layout = "Shared/_Layout.cshtml";
}

<main role="main">
    <div class="container">
        <h1 class="text-center title">
            Our Doctors
        </h1>

        <div class="row">
            <div class="col-md-4">
                <img src="~/images/balamurali.jpg" alt="Dr. K. Balamurali" class="img-fluid rounded-circle" style="aspect-ratio: 1/1;outline-color: var(--main-theme); outline-width: 2.5px; outline-style: solid; outline-offset: 2px; max-width: 20vw; object-fit: cover">
            </div>

            <div class="col-md-8">
                <div class="doctor-profile">
                    <h2 class="doctor-name">Dr. K. Balamurali, MBBS MD</h2>
                    <p class="doctor-title">Senior Consultant Physician</p>
                    <p class="doctor-reg">Reg No: TN 69724</p>
                    <h3>Educational Qualifications:</h3>
                    <ul>
                        <li>MBBS – completed in 2002 at Thanjavur Medical College</li>
                        <li>MD in General Medicine - completed in 2013 at Kilpauk Medical College</li>
                    </ul>
                    <h3>Additional Qualifications:</h3>
                    <ul>
                        <li>FIEcho by CGP, IMA a comprehensive clinical oriented certificate programme in Echocardiography</li>
                        <li>DFID – by CMC Vellore in Diabetes management</li>
                    </ul>
                    <h3>Work Experience:</h3>
                    <ul>
                        <li>Tutor in Community Medicine at PSG IMSR Coimbatore – 2002 to 2004</li>
                        <li>Insurance Medical Officer at ESIC Model Hospital, Kollam – 2004 to 2006</li>
                        <li>Assistant Surgeon at Govt PHC Kudimangalam – 2006 to 2009</li>
                        <li>Consultant Physician at Govt Hospital Palladam – 2013 to 2015</li>
                        <li>Currently Senior Consultant Physician at S V Clinic Palladam</li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <img src="~/images/nalini.jpg" alt="Dr. K. Balamurali" class="img-fluid rounded-circle" style="aspect-ratio: 1/1;outline-color: var(--main-theme); outline-width: 2.5px; outline-style: solid; outline-offset: 2px; max-width: 20vw; object-fit: cover">
            </div>

            <div class="col-md-8">
                <div class="doctor-profile">
                    <h2 class="doctor-name">Dr. T. G. Nalini MBBS DCH, MBA (HHSM)</h2>
                    <p class="doctor-title">Pediatrician</p>
                    <p class="doctor-reg">Reg No: TN 74514</p>
                    <h3>Educational Qualifications:</h3>
                    <ul>
                        <li>MBBS at Stanley Medical College - 1998 to 2004</li>
                        <li>DCH at Institute of Child Health -  2009 to 2011</li>
                        <li>MBA (Hospital and Health System Management) at BITS Pilani WILP - 2021 to 2023</li>
                    </ul>
                    <h3>Additional Qualifications:</h3>
                    <ul>
                        <li>
                            Completed course in PALS
                        </li>
                    </ul>
                    <h3>Work Experience:</h3>
                    <ul>
                        <li>Worked as RMO, Andhra Mahila Sabha, Adyar, Chennai – 2004</li>
                        <li>Medical Officer, Govt PHC, Kuttapatti, Salem HUD - 2006 to 2007</li>
                        <li>Medical Officer, Govt PHC, Ramachandrapuram, Tiruppur HUD - 2007 to 2009</li>
                        <li>Diploma in Child Health, ICH, Egmore - 2009 to 2011</li>
                        <li>Assistant Surgeon, Govt. Hospital, Palladam - 2011 to 2015</li>
                        <li>Currently Consultant Pediatrician and Executive Director, S. V. Clinic, Palladm</li>
                    </ul>
                    <h3>Special Interests:</h3>
                    <ul>
                        <li>Pediatric Emergency</li>
                        <li>Developmental Pediatrics</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>