@page
@model SVC.Pages.FeedbackModel
@{
    ViewData["Title"] = "Feedback";
    Layout = "Shared/_Layout.cshtml";
}

<main role="main">
    <div class="container">
        <h1 class="text-center title">
            Provide Feedback
        </h1>
        <p class="">
            Kindly fill this google form to provide feedback and what you think we can improve with our service using the link provided below.
        </p>
        <p class="">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSerU4KrGssYi2HgjpxbKixK5gZz2gyDlsl70BtYfA9OR9XLGQ/viewform" target="_blank">Link to Google Form</a>
        </p>
        <p>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSerU4KrGssYi2HgjpxbKixK5gZz2gyDlsl70BtYfA9OR9XLGQ/viewform" width="100%" height="780" frameborder="1" style="border:dotted" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </p>
    </div>
</main>