@page
@model SVC.Pages.GalleryModel
@{
	ViewData["Title"] = "Gallery";
	Layout = "Shared/_Layout.cshtml";
}

<main>
	<h1 class="text-center">Gallery</h1>

	<div>
		<h3>Albums</h3>
	</div>
	
	<div>

	</div>

</main>
