@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/home.css" rel="stylesheet" />
</head>


<main class="container-fluid" style="z-index=2">
    <img src="~/images/front-outside.jpg" style="width:100%; max-height: 500px; object-fit: cover; object-position: 0px -250px" />

    <div class="text-center intro-paragraph">
        Founded in 2013, S V Clinic is a 30-bed secondary healthcare facility located in a semi-urban area. Our mission is to provide evidence-based medical care at an affordable cost. We offer state-of-the-art care in emergency medicine, general medicine, and pediatrics, ensuring high-quality treatment for all our patients.
    </div>

    <h2 style="padding-top: 5rem">Our services</h2>

    <div class="d-flex justify-content-center align-items-center">
        <div class="col text-center boxed">
            <p class="display-6">Emergency Medicine</p>
            <p>
                Available 24/7 to provide immediate care for urgent medical needs.
            </p>
        </div>
        <div class="col text-center boxed">
            <p class="display-6">General Medicine</p>
            <p>
                Comprehensive care for a wide range of medical conditions.
            </p>
        </div>
        <div class="col text-center boxed">
            <p class="display-6">Pediatric Medicine</p>
            <p style="padding-bottom: 1.5rem; padding-top: 1.5rem">
                Specialized care for infants, children, and adolescents.
            </p>
        </div>
    </div>
</main>
