@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "Shared/_Layout.cshtml";
}

<style>

    .vision {
        position: absolute;
        transform: translateX(-50%) translateY(10rem);
        width: 500px;
        backdrop-filter: blur(3px);
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 15px;
        box-shadow: 5px 5px 75px 20px rgba(0, 0, 0, 1);
    }

</style>

<div class="header-row" id="banner" style="padding: 0px; overflow:hidden;">
    <main class="container-fluid" style="padding: 0px;">
      
        </main>
        <img src="~/images/front-reception.jpg" style="width:100%"/>
</div>