@page
@model SVC.Pages.JoinUsModel
@{
    ViewData["Title"] = "Join Us";
    Layout = "Shared/_Layout.cshtml";
}

<main role="main">
    <div class="container">
        <h1 class="text-center title">
            Join Us
        </h1>
        <p class="">
            At our clinic, we believe in more than just providing monetary benefits; we treat our staff as family members. Our cordial and supportive work environment promotes learning and career growth, ensuring that each team member feels valued and encouraged to thrive. While we offer remuneration at market price, the real reward is living a happy and fulfilling life as part of our community.<span class="br"><hr /></span>
            Currently the following vacancies are open:
        </p>
        <div class="grid">
        @foreach (var position in Model.positionService.GetVacantPositions())
        {
            <div class="page-container" style="position: relative;">
                <h2 class="text-center">@position.Title</h2>
                <p>@Html.Raw(Model.GetDescription(position))</p>
                <h3 class="text-muted">@position.ExpectedSalary</h3>
                <a class="div-link" href="@position.Forms" target="_blank"><span></span></a>
            </div>
        }
        </div>
    </div>
</main>