@page
@model SVC.Pages.GalleryModel
@{
    ViewData["Title"] = "Laboratory";
    Layout = "Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="css/gallery.css">
    <link rel="" type="text/js" href="js/gallery.js">

    <link rel="stylesheet" type="text/css" href="css/lab.css" />
</head>

<div class="" style="overflow:hidden;">
    <h1 class="text-center title">
        Laboratory
    </h1>
</div>

<main name="main">
    <div class="container">
        <p class="text-start" style="font-size: 24px">
            Our laboratory provides specialized laboratory services to support healthcare needs. <b>We are recognized and certified by CMC and NABH</b>, offering a range of molecular diagnostic services. We are committed to providing high-quality services to our patients and healthcare partners. Our laboratory is <b>operational 24/7</b> and staffed by highly qualified and experienced lab technicians, ensuring accurate and reliable test results.
        </p>

        <h2 style="margin-top: 3rem; margin-bottom: 1rem">Analytic Equipments:</h2>
        <div class="container">
            <ul class="list-unstyled">
                <li class="machine-description">
                    <div class="row justify-content-evenly machine-row odd">
                        <div class="col machine-text">
                            <h3 class="machine-name">
                                Semi Analyser
                            </h3>
                            <p class="text-start machine-description">
                                <ul class="list-group-flush machine-description">
                                    <li class="machine-description">Glucose</li>
                                    <li class="machine-description">Urea</li>
                                    <li class="machine-description">Creatinine</li>
                                    <li class="machine-description">Total Cholesterol</li>
                                    <li class="machine-description">Triglyceride</li>   
                                </ul>
                            </p>
                        </div>
                        <img class="col d-flex machine-image" src="~/images/lab/Semi analyser.png"/>

                    </div>
                    <div class="row machine-row even">
                        <div class="col machine-text">
                            <h3 class="machine-name">
                                Fully Automated Analyser
                            </h3>
                            <p class="machine-description">
                                <ul class="list-group-flush machine-description">
                                    <li class="machine-description">Glucose</li>
                                    <li class="machine-description">Urea</li>
                                    <li class="machine-description">Creatinine</li>
                                    <li class="machine-description">Total Cholesterol</li>
                                    <li class="machine-description">Triglycerides</li>
                                    <li class="machine-description">HDL</li>
                                    <li class="machine-description">LDL</li>
                                    <li class="machine-description">VLDL</li>
                                    <li class="machine-description">Uric Acid</li>
                                    <li class="machine-description">Total Bilirubin</li>
                                    <li class="machine-description">Direct Bilirubin</li>
                                    <li class="machine-description">SGOT</li>
                                    <li class="machine-description">SGPT</li>
                                    <li class="machine-description">ALP</li>
                                    <li class="machine-description">Total Protein</li>
                                    <li class="machine-description">Albumin</li>
                                    <li class="machine-description">Globulin</li>
                                    <li class="machine-description">Calcium</li>
                                    <li class="machine-description">Magnesium</li>
                                    <li class="machine-description">Amylase</li>
                                </ul>
                            </p>
                        </div>
                        <img class="col d-flex machine-image" src="~/images/lab/fully-automated.png"/>

                    </div>
                    <div class="row justify-content-evenly machine-row odd">
                        <div class="col machine-text">
                            <h3 class="machine-name">
                                Cell Counter
                            </h3>
                            <p class="text-start machine-description">
                                <ul class="list-group-flush machine-description">
                                    <li class="machine-description">
                                        CBC (Complete Blod Count)
                                    </li>  
                                </ul>
                            </p>
                        </div>
                        <img class="col d-flex machine-image" src="~/images/lab/cell-counter.png"/>

                    </div>
                    <div class="row machine-row even">
                        <div class="col machine-text">
                            <h3 class="machine-name">
                                Electrolyes
                            </h3>
                            <p class="machine-description">
                                <ul class="list-group-flush machine-description">
                                    <li class="machine-description">Sodium</li>
                                    <li class="machine-description">Potassium</li>
                                    <li class="machine-description">Ionised Calcium</li>
                                    <li class="machine-description">pH</li>
                                    <li class="machine-description">Bicarbonate</li>
                                    <li class="machine-description">Chloride</li>
                                </ul>
                            </p>
                        </div>
                        <img class="col d-flex machine-image" src="~/images/lab/electrolytes.png"/>

                    </div>
                    <div class="row justify-content-evenly machine-row odd">
                        <div class="col machine-text">
                            <h3 class="machine-name">
                                Immuno-assay Analyser
                            </h3>
                            <p class="text-start machine-description">
                                <ul class="list-group-flush machine-description">
                                    <li class="machine-description">TSH</li>
                                    <li class="machine-description">C-RP</li>
                                    <li class="machine-description">TROPONIN I</li>
                                    <li class="machine-description">FERRITIN</li>
                                    <li class="machine-description">NT-PROBNP</li>
                                    <li class="machine-description">HBA1C</li>
                                    <li class="machine-description">PROCALCITONIN</li>
                                    <li class="machine-description">D-DIMER</li>
                                    <li class="machine-description">COVID RAPID CARD</li>
                                </ul>
                            </p>
                        </div>
                        <img class="col d-flex machine-image" src="~/images/lab/fine-care.png"/>

                    </div>
                    <div class="row machine-row even">
                        <div class="col machine-text">
                            <h3 class="machine-name">
                                Coagulant Analyser
                            </h3>
                            <p class="machine-description">
                                <ul class="list-group-flush machine-description">
                                    <li class="machine-description">PT - INR</li>
                                    <li class="machine-description">APTT</li>
                                </ul>
                            </p>
                        </div>
                        <img class="col d-flex machine-image" src="~/images/lab/coagulation.png"/>

                    </div>
                    <div class="row justify-content-evenly machine-row odd">
                        <div class="col machine-text">
                            <h3 class="machine-name">
                                Blood Gas Analyser
                            </h3>
                            <p class="text-start machine-description">
                                <ul class="list-group-flush machine-description">
                                    <li class="machine-description">Electrolytes ABG(Arterial Blood Gas)</li>
                                </ul>
                            </p>
                        </div>
                        <img class="col d-flex machine-image" src="~/images/lab/apg.png"/>

                    </div>
                    <div class="row machine-row even">
                        <div class="col machine-text">
                            <h3 class="machine-name">
                                Hba1c Analyser
                            </h3>
                            <p class="machine-description">
                                <ul class="list-group-flush machine-description">
                                    <li class="machine-description">Hba1c</li>
                                </ul>
                            </p>
                        </div>
                        <img class="col d-flex machine-image" src="~/images/lab/Hba1c.png"/>

                    </div>
                    <div class="row justify-content-evenly machine-row odd">
                        <div class="col machine-text">
                            <h3 class="machine-name">
                                Urine Analyser
                            </h3>
                            <p class="text-start machine-description">
                                <ul class="list-group-flush machine-description">
                                    <li class="machine-description">Urine Routine</li>
                                </ul>
                            </p>
                        </div>
                        <img class="col d-flex machine-image" src="~/images/lab/Urine analyser.png"/>

                    </div>
                    <div class="row machine-row even">
                        <div class="col machine-text">
                            <h3 class="machine-name">
                                Microscope
                            </h3>
                            <p class="machine-description">
                                <ul class="list-group-flush machine-description">
                                    <li class="machine-description">Urine Deposit</li>
                                    <li class="machine-description">PS Study</li>
                                </ul>
                            </p>
                        </div>
                        <img class="col d-flex machine-image" src="~/images/lab/Microscope.png"/>

                    </div>
                </li>
            </ul>
        </div>
        
    </div>
</main>

<script src="js/gallery.js"></script>
