@page
@model SVC.Pages.VisitingConsultantsModel
@{
    ViewData["Title"] = "Visiting Consultants";
    Layout = "Shared/_Layout.cshtml";
}

<main role="main" class="container">
    <h1 class="text-center title">Visiting Consultants</h1>
    <table class="table table-striped table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Consultant Name</th>
                <th scope="col">Consultant Speciality</th>
                <th scope="col">Consultant Qualifications</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dr. Jayaprakash</td>
                <td>Pediatric Surgeon</td>
                <td>MS Mch</td>
            </tr>
            <tr>
                <td>Dr. Kandhasami Kaminthan</td>
                <td>ENT Specialist</td>
                <td>MS ENT</td>
            </tr>
            <tr>
                <td>Dr. Bharathi</td>
                <td>Dermatologist</td>
                <td>DDVL</td>
            </tr>
            <tr>
                <td>Dr. Naveen A. S.</td>
                <td>Infectious diseases specialist</td>
                <td>MD FNB</td>
            </tr>
            <tr>
                <td>Dr. Sudharshan</td>
                <td>Orthopedic Surgeon</td>
                <td>MS Ortho</td>
            </tr>
            <tr>
                <td>Dr. Pushparani</td>
                <td>Developmental Pediatrician</td>
                <td>MD Pead. FDBP(IAP)</td>
            </tr>
        </tbody>
    </table>

</main>