@page
@model SVC.Pages.Departments.DepartmentsModel
@{
	ViewData["Title"] = "Departments";
	Layout = "../Shared/_Layout.cshtml";
}

<main role="main" class="container" style="margin-top:1rem;">
	<h1 class="text-center">Departments</h1>

	<div>
		<a class="h2" style="color:black;" asp-area="" asp-page="Medicine">Department of Medicine</a>
		<p class="">

		</p>
	</div>

	<div>
		<a class="h2" style="color:black;" asp-area="" asp-page="Pediatrics">Department of Pediatrics</a>
		<p class="">

		</p>
	</div>

	<div>
		<a class="h2" style="color:black;" asp-area="" asp-page="EmergencyMedicine">Department of Emergency Medicine</a>
		<p class="">

		</p>
	</div>

	<div>
		<a class="h2" style="color:black;" asp-area="" asp-page="Physiotherapy">Department of Physiotherapy</a>
		<p class="">

		</p>
	</div>
</main>
