@page
@model SVC.Pages.Departments.DepartmentsModel
@{
	ViewData["Title"] = "Departments";
	Layout = "../Shared/_Layout.cshtml";
}

<head>
	<link rel="stylesheet" href="~/css/departmentpages.css"/>
</head>

<main role="main" class="container">
	<h1 class="text-center title">Departments</h1>
	<div class="grid" style="margin-top: 2rem;">
		<div class="page-container">
			<div>
				<a class="h2 page-link" style="color:black;" asp-area="" asp-page="Medicine">Department of Medicine</a>
				<p class="service-description">
					The Department of Medicine is headed by Dr. K. Balamurali, a Senior Consultant. Our team of experienced doctors and staff are dedicated to providing state-of-the-art care to patients.
				</p>
			</div>
		</div>
		<div class="page-container">
			<a class="h2 page-link" style="color:black;" asp-area="" asp-page="EmergencyMedicine">Department of Emergency Medicine</a>
			<p class="service-description">
				A 6-bedded ER, located just at the main entrance for ease of access. It is run by a dedicated team of doctors, nurses, and supportive staff around the clock. All are trained in BLS and ACLS. Additional specialist support is available through telemedicine by the Cloud Physicians team.<span class="br"></span>
				A bed is always kept ready to receive patients.
			</p>
		</div>
		<div class="page-container">
			<a class="h2 page-link" style="color:black;" asp-area="" asp-page="Pediatrics">Department of Pediatrics</a>
			<p class="service-description">
				Welcome to the S V Clinic Pediatric Wing, specializing in general and preventive pediatrics. Led by Dr. T.G. Nalini, we provide primary and preventive health care services to children from birth through adolescence.<span class="br"></span>
				We emphasize educating parents and caregivers. Our immunization services follow both the National Immunization Schedule and The IAP Immunization Schedule.<span class="br"></span>
				We are committed to the Baby-Friendly Hospital Initiative (BFHI), promoting and protecting breastfeeding.
			</p>
		</div>
		<div class="page-container">
			<a class="h2 page-link" style="color:black;" asp-area="" asp-page="PediatricER">Pediatric ER</a>
			<p class="service-description">
				At S V Clinic's Pediatric Emergency Room, we are committed to delivering the highest standard of emergency care. Our goal is to ensure that every child receives prompt, compassionate, and effective treatment in a safe and supportive environment. <span class="br"></span>
				Our dedicated team is available 24/7 to provide immediate and expert care for children experiencing medical emergencies. Headed by Dr. T. G. Nalini, our Pediatric Emergency Room is equipped with state-of-the-art facilities and staffed by experienced professionals to handle a wide range of pediatric emergencies.
			</p>
		</div>
		<div class="page-container">
			<a class="h2 page-link" style="color:black;" asp-area="" asp-page="Nephrology">Nephrology Clinic</a>
			<p class="service-description">
				Welcome to the Nephrology Clinic at S V Clinic. Our clinic is led by Dr. Gopi Krishnan, MD, DM, and is dedicated to the diagnosis, evaluation, and management of both chronic and acute kidney diseases. The clinic operates every Monday at 5:30 PM. Please note that an appointment is mandatory.
			</p>
		</div>
		<div class="page-container">
			<a class="h2 page-link" style="color:black;" asp-area="" asp-page="Dermatology">Dermatology Clinic</a>
			<p class="service-description">
				Welcome to the Dermatology Clinic at S V Clinic. We hold a specialized dermatology clinic every month on the third Sunday from 10 AM. Please note that an appointment is mandatory.<span class="br"></span>
				Dr. Bharathi's expertise in dermatology ensures that patients receive the highest standard of care for their skin health. Whether it's managing common skin conditions or providing advanced cosmetic treatments, our clinic is equipped to meet your dermatological needs.
			</p>
		</div>
		<div class="page-container">
			<a class="h2 page-link" style="color:black;" asp-area="" asp-page="Physiotherapy">Department of Physiotherapy</a>
			<p class="service-description">
				Welcome to the Department of Physiotherapy at S V Clinic. Our department is managed by Miss Pratheeba, BPT, an experienced physiotherapist dedicated to providing effective treatment for a variety of conditions. We utilize advanced equipment to ensure the best outcomes for our patients.<span class="br"></span>
				Physiotherapy plays a crucial role in enhancing and restoring functional ability and quality of life to those with physical impairments or disabilities. Through targeted exercises, manual therapy, and the use of specialized equipment, our physiotherapy department helps patients recover from injuries, manage chronic conditions, and improve overall mobility.
			</p>
		</div>
	</div>
</main>
