@page
@model SVC.Pages.Departments.DepartmentsModel
@{
    ViewData["Title"] = "Department of Developmental Pediatrics";
    Layout = "../Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/departmentpages.css" />
    <link rel="stylesheet" href="~/css/gallery.css" />
</head>

<script src="~/js/gallery.js"></script>

<main role="main">
    <div class="container">
        <h1 class="text-center title">
            Department of Developmental Pediatrics
        </h1>

        <p class="text-start col">
            At S V Clinic, our Developmental Pediatrics department is dedicated to supporting the growth and development of children from birth through adolescence. We understand that each child is unique, and our team is committed to providing individualized care to help every child reach their full potential.<span class="br"></span>
            Our Developmental Pediatrics team is composed of highly skilled professionals, including developmental pediatricians, child psychologists, speech and language therapists, occupational therapists, physical therapists, and nutritionists. Each team member is dedicated to providing compassionate, expert care.
        </p>

        <div class="row hod">
            <div class="col d-flex flex-column">
                <h3>Head of the department: </h3>
                <h4>Dr. S Pushparani </h4>
                <h5> M.D. Pead., F.D.B.P. (IAP)</h5>
            </div>

            <div class="col-sm-4 align-items-start">
                <img src="~/images/front-reception.jpg" alt="Dr. S. Pushparani" class="img-fluid rounded-circle" style="aspect-ratio: 1/1;outline-color: var(--main-theme); outline-width: 2.5px; outline-style: solid; outline-offset: 2px; max-width: 20vw; object-fit: cover">
            </div>
        </div>

        <h2 class="title">Our Approach:</h2>
        <p class="text-start service-description">
            Growth and development of a child start in the womb. Developmental assessment is an essential part of everyday practice. We recognize that the most complex and fine shades of expression in a child have their gradual and natural origin. Our goal is to motivate children to find pleasure in learning, develop their ability to pay attention to others, and engage in purposeful activities.
        </p>

        <ul class="list-group-flush">
            <li>
                <p class="service-title">Importance of Nutrition:</p>
                <p class="service-description">
                    Nutrition has a direct relationship with mental and physical development. We emphasize the importance of a balanced diet in nurturing a child's growth and cognitive abilities. Intelligence is the product of both nature and nurture, and we strive to provide the best environment to enhance both aspects.
                </p>
            </li>
            <li>
                <p class="service-title">Comprehensive Child Care:</p>
                <p class="service-description">
                    We adopt a comprehensive child care system with high-quality, developmentally appropriate early intervention, education, and support programs for young children and their families. Our multidisciplinary team works closely with families, caregivers, and other healthcare professionals to create personalized treatment plans tailored to each child's specific needs.
                </p>
            </li>
        </ul>
        
        <h2 class="title">Services We Offer:</h2>
        <ul class="list-group-flush">
            <li>
                <p class="service-title">
                    Developmental Assessments:
                </p>
                <ul>
                    <li class="service-description-list">
                        Comprehensive evaluations to assess developmental milestones, including motor skills, language, cognitive abilities, and social interactions.
                    </li>
                    <li class="service-description-list">
                        Early identification of developmental delays and disorders.
                    </li>
                </ul>
            </li>
            <li>
                <p class="service-title">
                    Behavioral Assessments and Interventions:
                </p>
                <ul>
                    <li class="service-description-list">
                        Assessments for behavioral issues such as ADHD, autism spectrum disorders, and other behavioral challenges.
                    </li>
                    <li class="service-description-list">
                        Development of behavior management plans and therapeutic interventions.
                    </li>
                </ul>
            </li>
            <li>
                <p class="service-title">
                    Speech and Language Therapy:
                </p>
                <ul>
                    <li class="service-description-list">
                        Assessment and treatment of speech and language delays and disorders.
                    </li>
                    <li class="service-description-list">
                        Support for communication skills development.
                    </li>
                </ul>
            </li>
            <li>
                <p class="service-title">
                    Occupational Therapy:
                </p>
                <ul>
                    <li class="service-description-list">
                        Evaluation and treatment of fine motor skills, sensory processing issues, and daily living skills.
                    </li>
                    <li class="service-description-list">
                        Personalized therapy sessions to enhance functional independence.
                    </li>
                </ul>
            </li>
            <li>
                <p class="service-title">
                    Physical Therapy:
                </p>
                <ul>
                    <li class="service-description-list">
                        Assessment and treatment of gross motor delays and physical impairments.
                    </li>
                    <li class="service-description-list">
                        Therapy programs designed to improve mobility, strength, and coordination.
                    </li>
                </ul>
            </li>
            <li>
                <p class="service-title">
                    Counseling and Support:
                </p>
                <ul>
                    <li class="service-description-list">
                        Family counseling to address the emotional and psychological needs of both the child and family.
                    </li>
                    <li class="service-description-list">
                        Support groups and resources for parents and caregivers.
                    </li>
                </ul>
            </li>
            <li>
                <p class="service-title">
                    Nutrition:
                </p>
                <ul>
                    <li class="service-description-list">
                        Nutritional assessments and personalized diet plans to support optimal growth and development.
                    </li>
                    <li class="service-description-list">
                        Education for parents on the importance of a balanced diet and how to provide nutritious meals for their children.
                    </li>
                    <li class="service-description-list">
                        Addressing specific nutritional concerns related to developmental and behavioral issues.
                    </li>
                </ul>
            </li>
        </ul>

            
    </div>
</main>
