@page
@model SVC.Pages.Departments.MedicineModel
@{
    ViewData["Title"] = "Department of Emergency Medicine";
    Layout = "../Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/departmentpages.css" />
</head>

<main role="main">
    <div class="container">
        <h1 class="text-center title">
            Department of Emergency Medicine
        </h1>
        <p class="text-start col">
            A 6-bedded ER, located just at the main entrance for ease of access. It is run by a dedicated team of doctors, nurses, and supportive staff around the clock. All are trained in BLS and ACLS. Additional specialist support is available through telemedicine by the Cloud Physicians team. A bed is always kept ready to receive patients.
        </p>

        <div class="row hod" style=" margin-bottom: 1rem;">
            <div class="col d-flex flex-column">
                <h3>Head of the department: </h3>
                <h4>Dr. K. Balamurali</h4>
                <h5>MBBS MD (Internal Medicine)</h5>
            </div>

            <div class="col-sm-4 align-items-start">
                <img src="~/images/balamurali.jpg" alt="Dr. K. Balamurali" class="img-fluid rounded-circle" style="aspect-ratio: 1/1;outline-color: var(--main-theme); outline-width: 2.5px; outline-style: solid; outline-offset: 2px; max-width: 20vw; object-fit: cover">
            </div>
        </div>

        <h2 class="title">Key features:</h2>
        <ul class="list-unstyled" style="margin-left:5rem;">
            <li>
                <p class="service-description">
                    <b>Effective triage</b> and initiation of care with <b>zero delay</b>.
                </p>
            </li>
            <li>
                <p class="service-description">
                    <b>Protocolized management</b> of emergency conditions.
                </p>
            </li>
            <li>
                <p class="service-description">
                    <b>Transparency in patient management</b>, including cost, with the patient's relatives as part of the decision-making process.
                </p>
            </li>
            <li>
                <p class="service-description">
                    <b>Referrals as needed</b> after stabilization, with <b>continuous care during transport</b>.
                </p>
            </li>
        </ul>

        <h2 class="title">Available Equipment:</h2>
        <ul class="list-group-flush" style="margin-left:5rem;">
            <li>
                <p class="service-description service-title">
                    Defibrillator
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Loaded crash cart
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Airway equipment and intubation facility
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Point of care ultrasound (POCUS)
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Point of care arterial blood gas (ABG)
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Point of care X-ray
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Point of care plasma acetone analyser
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Patient multipara monitor
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Infusion and syringe pumps
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Ventilator
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Emergency cot
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Central oxygen and vacuum
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Head-end panel for easy access to power and oxygen
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Adequate space for easy mobility during resuscitation
                </p>
            </li>
        </ul>

        <h2 class="title">Commonly treated emeregency conditions: </h2>
        <ul class="list-group-flush" style="margin-left:5rem;">
            <li>
                <p class="service-description service-title">
                    Acute MI
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Cardiac failure
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Arrhythmias with hemodynamic compromise
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Acute stroke
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Acute pulmonary edema
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Anaphylaxis
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Shock of various causes
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Acute poisoning
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Snake bites with envenomation
                </p>
            </li>
            <li>
                <p class="service-description service-title">
                    Seizures
                </p>
            </li>
        </ul>
    </div>
</main>
