@page
@model SVC.Pages.Departments.PediatricsModel
@{
	ViewData["Title"] = "Department of Medicine";
	Layout = "../Shared/_Layout.cshtml";
}

<main role="main" class="container" style="margin-top:1rem;">
	<h1 class="text-center">Department of Pediatrics</h1>
</main>
