@page
@model SVC.Pages.Departments.PhysiotherapyModel
@{
	ViewData["Title"] = "Department of Physiotherapy";
	Layout = "../Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/departmentpages.css" />
</head>

<main role="main">
    <div class="container">
        <h1 class="text-center title">
            Department of Physiotherapy
        </h1>

        <p class="text-start col">
            Welcome to the Department of Physiotherapy at S V Clinic. Our department is managed by Miss Pratheeba, BPT, an experienced physiotherapist dedicated to providing effective treatment for a variety of conditions. We utilize advanced equipment to ensure the best outcomes for our patients.
        </p>

        <div class="row hod">
            <div class="col d-flex flex-column">
                <h3>Head of the department: </h3>
                <h4>Ms. Pratheeba</h4>
                <h5>B.P.T.</h5>
            </div>

            <div class="col-sm-4 align-items-start">
                <img src="~/images/front-reception.jpg" alt="Ms. Pratheeba" class="img-fluid rounded-circle" style="aspect-ratio: 1/1;outline-color: var(--main-theme); outline-width: 2.5px; outline-style: solid; outline-offset: 2px; max-width: 20vw; object-fit: cover">
            </div>
        </div>

        <h2 class="title">Our role:</h2>
        <p class="service-description">
            Physiotherapy plays a crucial role in enhancing and restoring functional ability and quality of life to those with physical impairments or disabilities. Through targeted exercises, manual therapy, and the use of specialized equipment, our physiotherapy department helps patients recover from injuries, manage chronic conditions, and improve overall mobility.
        </p>

        <h2 class="title">We treat:</h2>
        <ul class="list-group-flush">
            <li><p class="service-description service-title">
                Stroke rehabilitation
            </p></li>
            <li><p class="service-description service-title">
                Bell's Palsy
            </p></li>
            <li><p class="service-description service-title">
                Sports Injuries
            </p></li>
            <li><p class="service-description service-title">
                Muscle Cramps
            </p></li>
            <li><p class="service-description service-title">
                Muscle Tear
            </p></li>
            <li><p class="service-description service-title">
                Osteoarthritis
            </p></li>
            <li><p class="service-description service-title">
                Rheumatoid Arthritis
            </p></li>
            <li><p class="service-description service-title">
                Intervertebral Disc Bulge                
            </p></li>
            <li><p class="service-description service-title">
                Shoulder Pain            
            </p></li>
            <li><p class="service-description service-title">
                Developmental Delay in Children
            </p></li>
            <li><p class="service-description service-title">
                Cerebral Palsy             
            </p></li>
        </ul>
    <div/>
</main>
